doctype html
html(lang='ko')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title API Document | Edit Music Server
    link(rel='shortcut icon', href='#')
  body
    block content